.bar {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 0 400px;
  justify-content: center;
  gap: 12px;
  border-right: 1px solid #e7e7e7;
  margin: 0;
  padding: 20px;
}

.aligned {
  justify-content: start;
}

.box {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 12px;
}

.placeholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 1;
  height: 100%;
}
